<nav id="header-nav" class="navbar navbar-dark navbar-expand-md bg-light fixed-top header-nav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav d-flex justify-content-end flex-grow-1 pe-4">
            <li class="nav-item d-flex flex-row">
                {% for link in siteSetup.menulink_set.all%}
                {% if link.new_tab%}
                    <a class="nav-link" href="{{link.url_Or_Path}}">{{link.text}}</a>
                {% else %}
                    <a class="nav-link" href="{{link.url_Or_Path}}">{{link.text}}</a>
                {% endif %}
            {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>