<nav class="header-nav container-fluid">
    <div class="header d-flex justify-content-end align-self-center h-100">
        <div class="d-flex justify-content-around align-items-center w-75">
            {% for link in siteSetup.menulink_set.all%}
                {% if link.new_tab%}
                    <a href="{{link.url_Or_Path}}" target="_blank">{{link.text}}</a>
                {% else %}
                    <a href="{{link.url_Or_Path}}">{{link.text}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>