<article class="col-lg-4 col-md-6 col-sm-12 d-flex">
    <div class="m-2 d-flex flex-column justify-content-between css-post-card">
        {% if post.cover %}
        <div class="m-2 text-center">
            <a href="{{ post.get_absolute_url }}">
                <img class="rounded img-thumbnail"
                loading="lazy"
                src="{{ post.cover.url }}" 
                alt="{{ post.title }}">
            </a>
        </div>
        {% endif %}
    
        <div class="m-2 text-center">
            <h2>
                <a href="{% url 'blogPost' post.slug %}">{{ post.title }}</a>
            </h2>
        </div>
    
        <div class="m-2">
            <p>{{ post.excerpt }}</p>
                
            <div class="d-flex justify-content-end">
                <a href="{% url 'blogPost' post.slug %}">
                    <span class="m-2">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</article>
