<article class="col-lg-4 col-md-6 col-sm-12">
    <div class="m-2 d-flex flex-column justify-content-center css-post-card">
        <div class="m-2 text-center">
            <a href="#">
                <img class="rounded img-fluid"
                loading="lazy"
                src="https://picsum.photos/745/419/?rand=6{{ i }}" 
                alt="Change me">
            </a>
        </div>
    
        <div class="m-2 text-center">
            <h2>
                <a href="#">Título Post</a>
            </h2>
        </div>
    
        <div class="m-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis est id ipsa iste architecto facere doloremque deleniti necessitatibus dolorum, voluptate rem officiis libero nisi in dolorem aperiam voluptas. Dolores.
            </p>
            <div class="d-flex justify-content-end">
                <a href="#">
                    <span class="m-2">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</article>