:root{
    --header-background: #0c192c;
    --background-index: #0c192c;
    --background-others:var(--font-color-light);
    --font-color-light: rgb(181, 193, 211);
    --font-color-dark: var(--background-index);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav{
    background: var(--header-background)!important;
    opacity: 1 !important;
    width: 100% !important;
    height: 70px !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 4 !important;
}
.header-nav a{
    text-decoration: none !important;
    color: var(--font-color-light) !important;
}