:root {
    --header-background: #0c192c;
    --background-index: #0c192c;
    --background-others: var(--font-color-light);
    --font-color-light: rgb(181, 193, 211);
    --font-color-dark: var(#0c192c);
    --border-post-card: #0c192c60;
    --font-color-content: #638fd1;
    --gray-post-status: #666;
    --background-color-projects-portf: #6668;
    --background-color-projects-modal: #0c192c50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-others);
}

footer {
    width: 100%;
    color: var(--font-color-dark);
}

.container {
    flex: 1;
}

.blog-h1-color {
    color: var(--font-color-dark);
}

.blog-h3-color {
    color: var(--font-color-content);
}

.portf-h3-color {
    color: var(--font-color-content);
}

.css-post-card a {
    text-decoration: none;
    color: var(--font-color-dark);
    transition: all 500ms ease-in-out;
}

.css-post-card a:hover {
    color: var(--font-color-content);
}

.css-post-card p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--font-color-content);
}

.css-post-card {
    border-radius: 3px;
    border: solid 0.5px var(--border-post-card);
    box-shadow: 1px 1px 1px var(--border-post-card);
    transition: all 500ms ease-in-out;
}

.css-post-card:hover {
    box-shadow: 0 0 4px var(--background-index);
    transform: scale(1.04);
}

.post-status {
    color: var(--gray-post-status);
}

.post-status a {
    text-decoration: none;
    color: var(--gray-post-status);
    transition: all 500ms ease-in-out;
}

.post-status a:hover {
    color: var(--font-color-content);
}

.font-color-content {
    color: var(--font-color-content);
}

.css-post-tag a {
    color: var(--gray-post-status);
    transition: all 500ms ease-in-out;
    text-decoration: none;
}

.css-post-tag a:hover {
    color: var(--font-color-content);
}

.css-portf-projects {
    background: var(--background-color-projects-portf);
    border-radius: 3px;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

.css-portf-projects-a {
    flex: 1;
}

.css-portf-projects-a a {
    color: var(--font-color-dark);
    text-decoration: none;
}

.menu-lateral-right{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: var(--font-color-content);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-lateral-left{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--font-color-content);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-lateral-right a{
    text-decoration: none;
}

.menu-lateral-left a{
    text-decoration: none;
}

/* .limit-size {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.limit-size-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
