{% extends 'base.html'%}
{% load static %}
{% block content %}
<article class="container text-center">
    <h1 class="m-4">{{ portf.title }}</h1>
    <h3 class="m-4">{{ portf.description }}</h3>
    <hr>
    <div class="container row d-flex justify-content-center">
        <h2>Meus Projetos</h2>
        {% for project in portf.portfolioProject.all %}
        {% if project.typeProject == 'P' and project.isPublished %}
            <div class="m-4 d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 css-portf-projects-a"
                style="background-image: url({{ project.pictures.url }});
                overflow: hidden; object-fit: cover; border-radius: 3px;"
            >
                <a href="#">
                    <section class="m-4 d-flex flex-column justify-content-center css-portf-projects">
                        <h1>{{ project.name | safe }}</h1>
                        <p>{{ project.description | safe }}</p>
                    </section>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="container row d-flex justify-content-center">
        <h2>Projetos de Clientes</h2>
        {% for project in portf.portfolioProject.all %}
        {% if project.typeProject == 'C' and project.isPublished %}
            <div class="m-4 d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 css-portf-projects-a"
                style="background-image: url({{ project.pictures.url }});
                overflow: hidden; object-fit: cover; border-radius: 3px;"
            >   
                <a href="#">
                    <section class="m-4 d-flex flex-column justify-content-center css-portf-projects">
                        <h1>{{ project.name | safe }}</h1>
                        <p>{{ project.description | safe }}</p>
                    </section>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</article>
{% endblock content %}